@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600');

html {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0px;
  width: auto;
  overflow-x: hidden;
}

h2, h3 {
  font-size: 2rem;
  font-family: Montserrat;
  font-weight: 100;
  color: #2e84b7;
}

h3 {
  font-size: 1.5rem;
  color: #232323;
}

p {
  font-family: Roboto;
  font-size: 0.8rem;
  font-weight: lighter;
}

section {
  width: 100vw;
}

.h2-div {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.h2-div p {
  width: 200px;
  margin: 20px auto 0px auto;
}

h2, h3, p {
  text-align: center;
  margin: 0px;
}

button {
  background-color: transparent;
  color: transparent;
  border-color: transparent;
}

.circle-for-icone {
  width: 80px;
  height: 80px;
  border-radius: 100% 100%;
  background-color: #2e84b7;
  display: flex;
  justify-content: center;
}

.circle-for-icone svg {
  width: 40px;
}

.four-items {
  padding-bottom: 30px;
}

.four-items-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  margin: auto;
  border-bottom: 4px solid #2e84b7;
  margin-bottom: 30px;
  height: 350px;
}

.four-items-card:nth-child(4) {
  margin-bottom: 0px;
}

.four-items-card p {
  width: 50%;
  margin: 0px auto;
  text-align: center;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px 0px 0px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.5);
}

nav .logo {
  width: 150px;
}

nav .opener {
  height: 80px;
  width: 60px;
  margin-left: 10px;
  z-index: 333;
  display: flex;
  align-items: center;
}

nav .opener button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 35%;
  cursor: pointer;
  transition: 1s;
  width: 60px;
  padding-left: 15px;
}

nav .opener span {
  display: block;
  width: 35px;
  height: 1px;
  background-color: white;
}

nav ul {
  display: none;
  position: absolute;
  top: 100%;
  height: 0px;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: 1s;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.9);
  border-top: 5px solid #2e84b7;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  list-style-type: none;
}

nav ul li:nth-child(7) {
  padding-bottom: 100px;
}

nav ul li a {
  text-shadow: 1px 1px 1px black;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: Roboto;
}

nav ul li a:visited, nav ul li a:link, nav ul li a:hover, nav ul li a:active {
  color: white;
}

#header {
  background-image: url("./images/bg_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 73vw;
  position: absolute;
  width: 100%;
  top: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  z-index: -333;
}

header .overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
}

#header h1 {
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
  font-family: Montserrat;
  font-weight: 100;
  z-index: 10;
}

#header p {
  font-size: 1.5rem;
  color: #6f6f6f;
  font-family: Montserrat;
  font-weight: 100;
  z-index: 10;
}

#section-1 {
  margin-top: 60%;
  padding-bottom: 40px;
  ;
}

#section-1 p {
  text-align: justify;
  font-weight: lighter;
}

#section-1 .h2-div p {
  text-align: center;
}

#section-1 div span {
  display: block;
  width: 1px;
  height: 35px;
  background-color: #2e84b7;
}

#section-1 .h3-box {
  display: flex;
  width: 200px;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin: auto;
  padding: 0px 2vw 30px 2vw;
}

#section-1 .card p {
  width: 250px;
  margin: auto;
  padding-bottom: 30px;
}

#section-1 .h3-box img {
  width: 25px;
}

#section-2 {
  background-image: url("./images/bg_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 37vw;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

#section-2 h2 {
  color: white;
}

#section-2 p {
  width: 350px;
  text-align: center;
}

#section-3 {
  background-color: #f7f7f7;
}

#section-3 h2 {
  margin-top: 0px;
  padding-top: 50px;
}

#section-4 {
  height: auto;
  padding-bottom: 100px;
}

#section-4 .first-div {
  width: 100%;
  height: auto;
  padding: 30px 0px;
  background-color: #1c1c1c;
  color: white;
  padding-left: 5vw;
}

#section-4 .first-div .h2-div {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  height: 30%;
  justify-content: center;
}

#section-4 .first-div .h2-div p {
  font-size: .6rem;
  margin: 0px;
}

.text-div {
  height: 70%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-div p {
  text-align: left;
}

#section-4 .first-div .text-div .first-p {
  font-weight: bold;
  padding: 25px 0px;
}

#section-4 .first-div .text-div .second-p {
  font-weight: 100;
  font-size: .6rem;
}

.text-div button {
  background-color: #f7f7f7;
  color: black;
  width: 100px;
  padding: 5px 0px;
  margin-top: 50px;
}

.second-div {
  height: 100vw;
  width: 100%;
  background-image: url("./images/bg_3.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
}

.second-div p {
  background-color: #2e84b7;
  width: 50vw;
  height: 50vw;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.third-div {
  margin-top: 30vw;
}

.third-div .card {
  width: 60vw;
  height: auto;
  margin: 10px auto 10px auto;
  padding: 10px 0px;
  border-top: 2px solid #2e84b7;
  border-bottom: 2px solid #2e84b7;
}

.third-div .card:nth-child(odd), .third-div .card:nth-child(2) {
  border-bottom: none;
}

.third-div .card h3 {
  display: flex;
  flex-direction: column;
  font-size: 3.5rem;
}

.third-div .card h3 span {
  font-size: 4rem;
  color: lightgrey;
}

.third-div .card p {
  font-size: .5rem;
}

#section-5 {
  background-color: #f7f7f7;
}

#section-5 .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100vw;
  overflow: hidden;
  position: relative;
  margin: auto;
}

#section-5 .container .chevron {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#section-5 .container .slider, #section-5 .container .slider-2 {
  overflow: hidden;
  width: 300%;
  height: auto;
  display: flex;
  margin-left: 0vw;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
}

#section-5 .container .slider-2 {
  display: none;
}

#section-5 .container .slider .card-slider {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 25%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#section-5 .container .slider .card-slider p {
  padding: 25px 0px;
}

#section-5 .container .slider .card-slider p:nth-child(2) {
  border-bottom: 1px solid lightgrey;
}

#section-5 .container .slider .card-slider img {
  width: 100%;
}

.chevron-left img, .chevron-right img {
  width: 20px;
}

#section-6 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

#section-6 .container {
  display: flex;
  flex-direction: column;
}

#section-6 .container div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0px;
  height: 200px;
  border-top: 2px solid #2e84b7;
  width: 200px;
  margin: auto;
}

#section-6 .container div h3, #section-6 .container div a {
  text-transform: uppercase;
}

#section-6 .container div a {
  font-size: .8rem;
  color: #2e84b7;
  text-decoration: line-through;
}

#section-6 .container div:nth-child(4) {
  border-bottom: 2px solid #2e84b7;
}

#section-6 .container div img {
  width: 50px;
}

footer {
  background-color: #f7f7f7;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }

  nav .opener {
    background-color: rgba(255, 255, 255, 0.1);
  }

  nav .opener button {
    display: none;
  }

  nav .logo {
    width: 150px;
    height: auto;
  }

  nav ul {
    opacity: 1;
    position: relative;
    background-color: transparent;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-top: none;
    width: 60%;
    top: 0px;
    margin-left: 5%;
    z-index: 9999;
  }

  nav ul li:nth-child(1) {
    padding-top: 0px;
  }

  nav ul li:nth-child(7) {
    padding-bottom: 0px;
  }

  nav ul li a {
    font-size: 1vw;
    color: white;
    text-decoration: none;
  }

  #header {
    height: 100vh;
    background-position: center 100%;
    background-attachment: fixed;
    width: 100%;
  }

  #header h1 {
    font-size: 4rem;
  }

  #header p {
    font-size: 3rem;
    font-weight: lighter;
  }

  #section-1, #section-3 {
    margin-top: 85vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #section-1 {
    padding-bottom: 50px;
  }

  #section-1 .h2-div h1 {
    font-size: 4rem;
  }

  #section-1 .container {
    width: 100%;
    padding: 0px 3vw;
    flex-wrap: wrap;
  }

  #section-1 .container .card {
    position: relative;
    width: 434.281px;
  }

  #section-1 .card .h3-box {
    padding: 0px;
    margin: 0px;
    transform: translateX(-90px);
  }

  #section-1 .card p {
    padding-bottom: 30px;
    padding-top: 2vw;
  }

  #section-1 .h2-div {
    width: 100%;
  }

  #section-1 .container {
    display: flex;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
  }

  #section-1 .container .card p {
    text-align: left;
  }

  #section-2 {
    background-attachment: fixed;
  }

  #section-3 {
    margin-top: 0px;
    flex-wrap: wrap;
  }

  #section-3 .h2-div {
    width: 100%;
    padding-bottom: 50px;
  }

  #section-3 .four-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
  }

  #section-3 .four-items .four-items-card {
    width: 220px;
    margin-bottom: 30px;
  }

  .four-items-card p {
    width: 81%;
  }

  #section-4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding-bottom: 0px;
    height: auto;
  }

  #section-4 .first-div, #section-4 .second-div {
    width: 50%;
    height: 50vw;
    padding: 0px;
  }

  #section-4 .first-div .first-p {
    font-size: 1vw;
  }

  #section-4 .first-div .h2-div, #section-4 .first-div .text-div {
    padding-left: 85px;
    width: 75%;
    max-width: 450px;
  }

  #section-4 .first-div .h2-div {
    height: 30%;
    justify-content: end;
  }

  #section-4 .first-div .text-div {
    height: 70%;
    justify-content: start;
  }

  #section-4 .text-div button {
    margin: 50px 0px;
  }

  #section-4 .second-div {
    background-attachment: fixed;
    font-size: .7rem;
  }

  #section-4 .second-div p {
    width: 15vw;
    height: 15vw;
    padding: 15px;
  }

  #section-4 .third-div {
    margin-top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  #section-4 .third-div .card {
    width: 19vw;
    height: auto;
    border: none;
  }

  #section-4 .third-div .card h3 {
    font-size: 1rem;
  }

  #section-4 .third-div .card span {
    font-size: 1.5rem;
  }

  #section-4 .third-div .card p {
    font-size: .5rem;
    padding-top: 15px;
  }

  #section-5 .container .slider {
    display: none;
  }

  #section-5 .container .slider-2 {
    display: flex;
    margin: auto;
    margin-left: 0vw;
    justify-content: center;
    padding: 30px 0px;
  }

  #section-5 .container .slider-2 .slide-1, #section-5 .container .slider-2 .slide-2, #section-5 .container .slider-2 .slide-3 {
    width: 100vw;
    display: flex;
    margin: auto;
    justify-content: center;
  }

  #section-5 .container .slider-2 .card-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    background-color: white;
    max-width: 320px;
    margin: 0px 10px;
  }

  #section-5 .container .slider-2 .card-slider p {
    padding: 25px 0px;
    width: 180px;
    margin: auto;
  }

  #section-5 .container .slider-2 .card-slider p:nth-child(2) {
    border-bottom: 1px solid lightgrey;
  }

  #section-5 .container .chevron {
    position: absolute;
    width: 90%;
    margin: auto;
    left: 5%;
  }

  #section-6 .container {
    flex-direction: row;
    width: 80%;
    margin: auto;
  }

  #section-6 .container div {
    border: none;
    width: 200px;
    height: 150px;
    justify-content: space-between;
  }

  #section-6 .container div img {
    height: 30px;
    width: auto;
  }

  #section-6 .container div h3 {
    font-size: 1rem;
  }

  #section-6 .container div:nth-child(4) {
    border: none;
  }
}

@media screen and (min-width: 962px) {
  #section-1 .container .card {
    position: relative;
    width: 254.281px;
  }

  #section-3 .four-items .four-items-card {
    width: 20%;
    margin-bottom: 30px;
  }

  #section-4 .first-div .first-p {
    font-size: .8rem;
    ;
  }
}
